*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

header,
nav,
main,
aside,
footer,
section{
    display: block;
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
    display: flex;

}

header{
    width: 100%;
    height: 191px;
    background-color: rgb(224, 196, 224);
    display: flex;
    justify-content: center;
    padding-top: 2px;
    
}


#logo{
    margin-top: 59px;
}


nav{
    width: 144px;
    height: 757px;
    background-color: rgb(62, 43, 66);
    display: flex;
    order: -1;
      
}

ul{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 15px;
    
    
    
}


ul il a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    height: 55px; 
    width: 144px; 
   
}

ul il a:hover{
    transform: scale(1.2);  

}

#selected{
    color: rgb(202, 158, 207);
}

main{
    width: 594px;
    height: 757px;
    background-color: rgb(253, 234, 255);
    display: flex;
    flex-wrap: wrap;
   
}

main > section{
    width: 289px;
    height: 757px;
    background-color: rgb(253, 234, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: flex-start;

}



main > section > div{ 
    width: 270px;
    background-color: rgb(100, 44, 67);
    margin-top: 22px;
    display: flex;

}


.leftdiv1{
    height: 324px;    
}

.leftdiv2{
    height: 412px;
}


.rightdiv1{
    height: 254px;
}

.rightdiv2{
    height: 364px;
}




aside{
    width: 258px;
    height: 757px;
    background-color: rgb(212, 177, 202);
    display: flex; 
    justify-content:space-around;
    align-items: flex-end;
    order: -1;
}

footer{
    position: fixed;
    bottom: 0;
    right: 135.5px;
    width: 996px;
    height: 50px;
    background-color: rgb(141, 81, 126);

}

aside > section{
    width: 235px;
    height: 235px;
    background-color: rgb(212, 177, 202);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 38px;

}


aside > section > div{
    background-color: rgb(100, 44, 67);
    height: 100px;
    width: 100px;
}




