*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

header,
nav,
main,
aside,
footer,
section{
    display: block;
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
    display: flex;

}


header{
    width: 100%;
    height: 191px;
    background-color: rgb(190, 214, 182);
    display: flex;
    justify-content: center;
    padding-top: 2px;
    
}


#logo{
    margin-top: 59px;
}


nav{
    width: 100%;
    height: 60px;
    background-color: rgb(132, 196, 132);
      
}


ul{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    width: 700px;
    
}

ul il{
    display: flex;
    align-self: flex-end;
}


ul il a{
    display: flex;
    align-items: baseline;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
   
}

ul il a:hover{
    transform: scale(1.2);  

}


#selected{
    color: rgb(31, 87, 24);
    
}

main{
    width: 756px;
    height: 700px;
    background-color: rgb(238, 248, 211);
    display: flex;

}


aside{
    width: 244px;
    height: 700px;
    background-color: rgb(235, 225, 94);
    display: flex;   
}


footer{
    width: 100%;
    height: 50px;
    background-color: rgb(104, 121, 95);
    display: flex;

}


section{
    width: 235px;
    height: 235px;
    background-color:  rgb(238, 248, 211);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;

}


.section1{ 
    margin-top: 23px;
    margin-left: 39px;
}


.section1 > div, .section2 > div{
    background-color: rgb(49, 107, 71);
    height: 100px;
    width: 100px;
}


.section2{  
    margin-top: 437px;
    margin-left: 223px;
}


aside > div{
    height: 58px;
    width: 147px;
    background-color:  rgb(49, 107, 71);
    margin-top: 244px;
    margin-left: 81px;
}


